{{#each restaurant}}
    <div class="ui cards">
    <div class="image">
        <img src={{restaurant.imageURL}}>
    </div>
    <div class="content">
        <a class="header">{{restaurant.name}}</a>
    </div>
    <button id="yelp-btn" src={{restaurant.yelp}}>Get Info</button>
{{/each}}