<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">Dine-or-Dash!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/login/static">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup/static">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/liked">View Liked Restaurants</a>
      </li>
    </ul>
  </div>
</nav>
<div class="wrap">
  <div id="return"></div>
  <a id="logout" href="/logout">
      Logout
  </a>
</div>
<h1>Dine-or-Dash</h1>
<div class="form" id="city-search">
  <form class="create-form">
      <div class="form-group">
          <label for="city">City:</label>
          <input type="text" id="city" name="name">
          <button id="search">Search</button>
      </div>
  </form>
  <button id="proximity">Swipe Nearby!</button>
</div>

<div class="content"><div id="loader" class="ui disabled text loader">Loading</div></div>

{{!-- Restaurant Card --}}
<div class="cards-niche">
  <section class="hbs-container"></section>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script id="card-hbs" type="text/x-handlebars-template">
  <div class="wrap">
    <div class="ui centered card">
        <div class="image">
            <img src=\{{imageURL}} style="min-height: 100%; min-width: 100%;">
        </div>
        <div class="content">
            <h1 class="header">\{{name}}</h1>
        </div>
        <div class="extra content">
            <div class="rating">Rating: \{{this.rating}}/5</div>
        </div>
        <div class="wrapBtns">
          <div class="ui buttons restaurants"></div>
        </div>
    </div>
  </div>
</script>