<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">Dine-or-Dash!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/login/static">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup/static">Signup</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Hello!</h1>
<a class="navbar-brand" href="/logout">
    Logout
</a>
<form class="create-form">
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="name">
        <button id="search">Search</button>
    </div>
</form>
<button id="proximity">Swipe Nearby!</button>

{{card}}

<div class="restaurants">

</div>