<h1>Hello!</h1>
<form class="create-form">
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="name">
        <button id="search">Search</button>
    </div>
</form>
<button id="proximity">Swipe Nearby!</button>


<div class="restaurants">
    
</div>