<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/index">Dine-or-Dash!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/login/static">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup/static">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/liked">Liked Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favorites">Favorite Restaurants</a>
      </li>
    </ul>
  </div>
</nav>

<div class="form">
  <form class="login ui form">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button class="ui button enter" type="submit"/>Log In</button>
    </div>
    <p>Or sign up <a href="/signup/static">here</a></p>
  </form>
</div>