<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">Dine-or-Dash!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/login/static">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup/static">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/liked">View Liked Restaurants</a>
      </li>
    </ul>
  </div>
</nav>



<form class="signup">
    <div>
        <label>Create Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Create Password:</label>
        <input type="text" name="password"/>
    </div>
    <div>
        <input type="submit" value="Signup"/>
    </div>
    <p>Or log in <a href="/login/static">here</a></p>
</form>