<form class="signup">
    <div>
        <label>Create Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Create Password:</label>
        <input type="text" name="password"/>
    </div>
    <div>
        <input type="submit" value="Signup"/>
    </div>
    <p>Or log in <a href="/login">here</a></p>
</form>