h1 {
    text-align: center;
}
.form {
    margin-top: 1.5rem;
    display: block;
    text-align: center;
}
.bg-light {
    margin-bottom: 1rem;
}
.cards-niche {
    justify-content: center;
}
.ui.cards>.card>.image {
    height: 12.5rem;
    overflow: hidden;
}
.info {
    max-height: 1rem;
    padding: 1.5rem !important;
}
.return {
    margin-left: 0.5rem;
}
.wrap {
    display: flex;
    justify-content: space-between;
}
.wrapBtns {
    display: flex;
    justify-content: space-between;
}
/* .content {
    background-image: url(https://st3.depositphotos.com/3649089/16657/v/1600/depositphotos_166571356-stock-illustration-red-checkered-texture-restaurant-seamless.jpg) !important;
} */
.ui.centered.card>.image{
    height: 13.5rem;
    overflow: hidden;
}
.hbs-container {
    text-align: center;
}
.hbs-container-liked {
    text-align: center;
}
.yelp-link {
    text-align: center;
}
.d-block {
    border-radius: 1rem;
}
.carousel {
    width: auto;
    max-width: 40rem;
    height: 30rem;
    max-height: 30rem;
    margin: 0 auto;
}
/* text on carousel */
.carousel-caption {
    font-size: 1.5rem;
}
.w-100 {
    width: auto;
    max-width: 40rem;
    height: 30rem;
    max-height: 30rem;
    margin-top: 1rem;
}
.carousel-inner {
    border-radius: 1rem;
}
/* #dislike {
    float: right;
} */
#logout {
    margin-right: 0.5rem;
}
