h1 {
    text-align: center;

}
.form {
    margin-top: 1.5rem;
    display: block;
    text-align: center;
}
.bg-light {
    margin-bottom: 1rem;
}
.cards-niche {
    justify-content: center;
}
.ui.cards>.card>.image {
    height: 12.5rem;
    overflow: hidden;
}
.info {
    max-height: 1rem;
    padding: 1.5rem !important;
}
.return {
    margin-left: 0.5rem;
}
.wrap {
    display: flex;
    justify-content: space-between;
    
}
.wrapBtns {
    display: flex;
    justify-content: space-between;
}
.hbs-container {
    text-align: center;
}
.hbs-container-liked {
    text-align: center;
}
.yelp-link {
    text-align: center;
}
.d-block {
    border-radius: 1rem;
}
.carousel {
    overflow: hidden;
    width: auto;
    max-width: 40rem;
    height: 30rem;
    max-height: 30rem;
    margin: 0 auto;
    border-radius: 1rem;
    z-index: 1000;
}
/* text on carousel */
.carousel-caption {
    font-size: 1.5rem;
}
.active {
    border-radius: 1rem;
}
.carousel-item {
    border-radius: 1rem;
}
.w-100 {
    width: auto;
    max-width: 40rem;
    height: 29rem;
    max-height: 29rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.carousel-inner {
    border-radius: 1rem;
    overflow: hidden;
}
#pic1, #pic2, #pic3 {
    border-radius: 1rem;
}
.ui.centered.card{
    margin-top: 1rem;
    width: auto;
    max-width: 40rem;
    height: 30rem;
    max-height: 30rem;
    margin: 0 auto;
    border-radius: 1rem;
}
.ui.card>.image:not(.ui)>img {
    width: 40rem;
    max-width: 40rem;
    border: none;
    max-height: 24rem;
    border-radius: 1rem;
    height: 24rem;
    object-fit: cover;
}
#logout {
    margin-right: 0.5rem;
    background-color: white;
}

.navbar-brand{
    font-size: 30px;
    font-family: 'Faster One', cursive;
    
}







/* * {
    margin: 0;
    padding: 0;
    background-color: #6C7A89;
    ;
  }
  .main {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .d1 {
    position: absolute;
    background-image: url(https://r-cf.bstatic.com/images/hotel/max1280x900/109/109790595.jpg);
    background-size: 2100px 1100px;
  
    height: 30vh;
    width: 15vw;
  
    background-position: 0 50%;
  
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
  }
  .d2 {
    position: absolute;
    background-image: url(https://www.ecopetit.cat/wpic/mpic/359-3592398_restaurant-hd-wallpapers-high-resolution-restaurant-background.jpg);
    background-size: 2100px 1100px;
  
    height: 50vh;
    width: 25vw;
  
    background-position: -10vw 50%;
    left: 10vw;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
  }
  .d3 {
    position: absolute;
    background-image: url(https://wallpapercrafter.com/uploads/posts/51877-___cafe-bar-restaurant-and-tables-hd.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;
  
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
  }
  .d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/200120161356-cnn-worlds-best-new-restaurants---madera---simon-brown-photography-1-1-full-169.jpg);
    background-size: 2500px 1100px;
  
    height: 80vh;
    width: 30vw;
    left: 65vw;
    background-position: -70vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
  }
  
  @keyframes dd1 {
    0% {
    }
    50% {
      width: 95vw;
    }
  }
  @keyframes dd12 {
    0% {
    }
    50% {
      background-position: Calc(0vw - 40px) 50%;
    }
  }
  @keyframes dd2 {
    0% {
    }
    50% {
      background-position: Calc(-10vw - 40px) 50%;
    }
  }
  @keyframes dd3 {
    0% {
    }
    50% {
      background-position: Calc(-35vw - 40px) 50%;
    }
  }
  @keyframes dd4 {
    0% {
    }
    50% {
      background-position: Calc(-70vw - 40px) 50%;
    }
  } */